<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form onsubmit="Client.handleSubmit(event)">
                    <input id="url" type="text" name="url" placeholder="the correct name">
                    <input id="submit" type="submit" name="submit" value="submit"  onsubmit="return Client.handleSubmit(event)">
            </form>
            </section>

            <section>
              
                <h1 class="result-title"><strong>Form Results:</strong></h1>
                <div id="results">
                    <h3>Agreement:</h3>
                    <p id="agreement"></p>
                    <br>
                    <h3>Subjectivity:</34>
                    <p id="subjectivity"></p>
                    <br>
                    <h3>Confidence:</h3>
                    <p id="confidence"></p>
                    <br>
                    <h3>Irony:</h3>
                    <p id="irony"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
